*,
*:before,
*:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://images7.alphacoders.com/312/thumb-1920-312453.jpg") ;
    width: 100%;
}

#logo {
    display: block;
    width: 20%;
    margin: 15% auto 0 10%;
    float: left;
}

#Connection {
    display: none;
    background-color: lightblue;
    text-align: center;
    width: 30%;
    margin: 5% 10% 0 auto;
    float: right;
}

#Inscription {
    display: block;
    background-color: lightblue;
    text-align: center;
    width: 30%;
    margin: 5% 10% 0 auto;
    float: right;
}