*,
*:before,
*:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://images7.alphacoders.com/312/thumb-1920-312453.jpg");
    width: 100%;
}

#logo {
    display: block;
    width: 20%;
    margin: 15% auto 0 10%;
    float: left;
}

#ins-con {
    display: block;
    background-color: lightblue;
    text-align: center;
    width: 30%;
    margin: 5% 10% 0 auto;
    float: right;
}

#Connection {
    display: none;
}

#Inscription {
    display: block;
}

#page-principal {
    display: none;
}

#favorite-Playlist {
    background-color: darkblue;
    color: white;
    text-align: left;
    margin: 0;
    height: auto;
    padding: 20% 15% 10% 15%;
    float: left
}

#recherche1 {
    background-color: darkred;
    color: white;
    margin: 0;
    height: auto;
    padding: 0 20% 0 20%;
    float: right;
}

#recherche1_1,
#btn-recherche {
    margin: 5% 20% 5% 20%;
    float: left;
}

#profile{
    margin: 5%;
    float: right;
}

Contenue {
    background-color: darkcyan;
    color: white;
    margin: 0;
    height: auto;
    padding: 0 20% 0 20%;
    float: right;
}

#play {
    background-color: orange;
    color: white;
}

#audio {
    margin: 2% 40% 2% 40%;
}
